@use '../variables' as *;

div.scrollbar{
    width: 100% !important;
    height: 100vh !important;
    &.hoz{
        width: 100% !important;
        height: 250px !important;
    }
}

div.scrollbar-track{
    width: 10px;
    height: 100%;
    &.hoz{
        width: 100%;
        height: 10px;
    }
}

div.scrollbar-thumb{
    background-color: $fg-dark;
}

div.scrollbar-view{
    padding-left: 10px;
    padding-right: 10px;
    scroll-snap-type: y proximity;
    &.hoz{
        padding: unset;
        padding-top: 10px;
        padding-bottom: 10px;
        scroll-snap-type: unset;
    }
}