$colour-bg-primary: #eeeeee;
$colour-fg-primary: invert($colour-bg-primary);

$colour-bg-input: #dfdfdf;
$colour-fg-input: invert($colour-bg-input);

$colour-bg-input-checked: #7cb5ff;

$wcag-focus-colour: #ffa600;