&{
    background-color: $bg-dark;
    div.nav{
        background-color: $nav-bg-dark;
        & div.nav-col{
            & nav{
                &.main{
                    & ul{
                        & li{
                            & > a{
                                color: $fg-light;
                            }
                        }
                    }
                }
            }
            &:nth-child(even){
                background-color: $nav-accent-even-dark;
            }
            &:nth-child(odd){
                background-color: $nav-accent-odd-dark;
            }
        }
    }
    div.nav-toggle{
        & input#nav-toggle{
            & + label{
                background-color: $bg-light;
                box-shadow: 1px 1px 1px 0px transparentize($bg-light, 0.5%);
                
                & > div.hamburger{
                    & span{
                        background-color: $bg-dark;
                    }
                }
            }
            &:checked{
                & + label{    
                    background-color: $bg-dark;
                    box-shadow: 1px 1px 1px 0px transparentize($bg-dark, 0.5%);

                    & > div.hamburger{
                        & span{
                            background-color: $bg-light;
                        }
                    }
                }
            }
        }
    }
    & > * {
        color: $fg-dark;
    }
    & a[href]{
        color: $fg-dark;
        text-decoration: underline;
        &[target="_blank"]{
            &::after{
                background-image: url('../images/ico_tab.light.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center top;
            }
        }
    }

    div.scroller{
        & div.scroller-icon{
            & svg{
                & line{
                    stroke: $fg-dark;
                }
            }
        }
    }

    div.scrollbar-thumb{
        background-color: $fg-dark;
    }

    div.carrousel{
        &::before{
            box-shadow: inset 0px 10px 3px -5px $bg-dark, inset 0px -10px 3px -5px $bg-dark;
        }
    }

    div.calendar{
        background-color: $bg-dark;
        color: $fg-dark;

        & div.calendar-head{
            & span{
                &.calendar-month{
                    & select{
                        background-color: lighten($bg-dark, 10%);
                        color: $fg-dark;
                        border: 1px solid $bg-dark;
                    }
                }
                &.calendar-year{
                    & input[type="text"]{
                        background-color: lighten($bg-dark, 10%);
                        color: $fg-dark;
                        border: 1px solid $bg-dark;
                    }
                }
                &.calendar-reset{
                    & button{
                        background-color: lighten($bg-dark, 10%);
                        color: $fg-dark;
                        border: 1px solid $bg-dark;
                    }
                }
            }
        }

        & div.calendar-body{

            & div.calendar-weekdays{
                & span.wd{
                    background-color: lighten($bg-dark, 10%);
                    &.wd-weekend{
                        background-color: lighten($bg-dark, 15%);
                    }
                }
            }
        
            & div.calendar-dates{
                & span.date{
                    background-color: lighten($bg-dark, 5%);
                    &.date-weekend{
                        background-color: lighten($bg-dark, 10%);
                    }
                    &.date-today{
                        border-color: $cal-hh-today-dark;
                    }
                }
            }
        }
    }
}