&{
    background-color: $bg-dark;
    div.nav{
        background-color: $nav-bg-dark;
        & div.nav-col{
            & nav{
                &.main{
                    & ul{
                        & li{
                            &::before{
                                background-color: $nav-select-dark;
                            }
                            &:active, &:focus, &:focus-within, &.targeted{
                                & > a{
                                    color: $fg-dark !important;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(even){
                background-color: $nav-accent-even-dark !important;
                & nav{
                    &.main{
                        & ul{
                            & li{
                                & > a{
                                    color: $nav-accent-even-text-dark !important;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(odd){
                background-color: $nav-accent-odd-dark !important;
                & nav{
                    &.main{
                        & ul{
                            & li{
                                & > a{
                                    color: $nav-accent-odd-text-dark !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    div.nav-toggle{
        & input#nav-toggle{
            & + label{
                background-color: $bg-light;
                box-shadow: 1px 1px 1px 0px transparentize($bg-light, 0.5%);
                
                & > div.hamburger{
                    & span{
                        background-color: $bg-dark;
                    }
                }
            }
            &:checked{
                & + label{    
                    background-color: $bg-dark;
                    box-shadow: 1px 1px 1px 0px transparentize($bg-dark, 0.5%);

                    & > div.hamburger{
                        & span{
                            background-color: $bg-light;
                        }
                    }
                }
            }
        }
    }
    & > * {
        color: $fg-dark;
    }
    & a[href]{
        color: $fg-dark;
        text-decoration: underline;
        &[target="_blank"]{
            &::after{
                background-image: url('../images/ico_tab.light.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center top;
            }
        }
    }

    div.scroller{
        & div.scroller-icon{
            & svg{
                & line{
                    stroke: $fg-dark;
                }
            }
        }
    }

    div.scrollbar-thumb{
        background-color: $fg-dark;
    }

    div.carrousel{
        &::before{
            box-shadow: inset 0px 10px 3px -5px $bg-dark, inset 0px -10px 3px -5px $bg-dark;
        }
    }

    div.calendar{
        background-color: $bg-dark;
    
        color: $fg-dark;
    
        & div.calendar-head{
            & span{
                &.calendar-month{
                    & select{
                        background-color: lighten($bg-dark, 10%);
                        color: $fg-dark;
                        border: 1px solid $bg-dark;
                        &:hover{
                            outline: solid 1px blue ;
                        }
                    }
                }
                &.calendar-year{
                    & input[type="text"]{
                        background-color: lighten($bg-dark, 10%);
                        color: $fg-dark;
                        border: 1px solid $bg-dark;
                        &:invalid{
                            border: 1px solid red !important;
                        }
                    }
                }
                &.calendar-reset{
                    & button{
                        background-color: lighten($bg-dark, 10%);
                        color: $fg-dark;
                        border: 1px solid $bg-dark;
                        cursor: pointer;

                        &:hover{
                            outline: solid 1px blue ;
                        }
                    }
                }
            }
        }
    
        & div.calendar-body{
    
            & div.calendar-weekdays{
                & span.wd{
                    background-color: lighten($cal-event-main-dark, 5%);
                    &.wd-weekend{
                        background-color: lighten($cal-event-main-dark, 10%);
                    }
                }
            }
        
            & div.calendar-dates{
                & span.date, & mark.date{
                    background-color: $cal-event-main-dark;
                    &.date-weekend{
                        background-color: lighten($cal-event-main-dark, 10%);
                    }
                    &.date-today{
                        border: 1.5px solid lighten($cal-hh-today-dark, 10%);
                        background-color: $cal-hh-today-dark !important;
                    }
                }
                & mark.date{
                    border: 1.5px solid lighten($cal-hh-ev-pin-dark, 10%);
                    background-color: $cal-hh-ev-pin-dark !important;
                }
            }
        }
    
        & div.calendar-footer{
    
            & div.calendar-events{
    
                & div.calendar-event{
    
                    background-color: $cal-event-main-dark;
    
                    & button{    
                        background-color: lighten($cal-event-main-dark, 5%);
                        
                        & > svg{
                            & > g > path{
                                fill: $fg-dark !important;
                            }
                        }

                        &:hover{
                            background-color: lighten($cal-event-main-dark, 10%);
                        }
                    }
                    & div.calendar-event-info{
                        & label{
                            background-color: lighten($cal-event-main-dark, 5%);
                        }
        
                        &.with-description{
                            & label{
                                &.ev-pinned{
                                    background-color: $cal-hh-ev-pin-dark;
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }
}