@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Staatliches&display=swap');

*{
    font-family: 'Poppins', sans-serif;

    &:not(:where(input, textarea)){
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

h1, h2, h3, h4, h5{
    font-family: 'Staatliches', serif;
    margin: 0px;
    padding: 5px;
    & > *{
        font-family: 'Staatliches', serif;
    }
}

div.nav{
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

    align-items: center;

    box-sizing: border-box;

    overflow: hidden;

    z-index: 9;

    transform-origin: center right;
    transition: width 0.2s;

    & div.nav-col{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        overflow: hidden;
        
        &:nth-child(even){
            width: 50%;
            box-shadow: 0px 1px 1px 0px #00000014 inset;
            transition: width 0.2s ease-in-out 0.2s;
            @media screen and (max-width: 600px){
                width: 100%;
            }
        }
        &:nth-child(odd){
            transition: width 0.2s;
        }
        & nav.main{
            width: 100%;
            & ul{
                padding: 0px;
                width: 100%;
                list-style-type: none;
                & li{
                    width: 100%;
                    position: relative;
                    & > a{
                        position: relative;
                        display: block;
                        text-align: center;
                        font-family: 'Staatliches', cursive;
                        font-size: 35px;
                        text-decoration: none;
                        z-index: 2;
                        
                        transition: color 0.2s;
                    }
                    &::before{
                        content: '';
                        pointer-events: none;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 0px;
                        height: 7px;
                        background-color: $nav-select-light;
                        transition: width 0.2s ease-in-out 0s, height 0.2s ease-in-out 0.2s;
                    }
                    &:hover{
                        &::before{
                            width: 100%
                        }
                    }
                    &:focus, &:focus-within, &.targeted{
                        &::before{
                            transition: width 0.2s, height 0s;
                        }
                    }
                    &:active, &:focus, &:focus-within, &.targeted{
                        & > a{
                            color: $fg-dark !important;
                        }
                        &::before{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &:active{
                        &::before{
                            transition: width 0.2s, height 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    &.hidden{
        width: 0px;
        & div.nav-col{
            width: 0px;
        }
    }
}



div.pages-hold{
    max-height: 100vh;
    box-sizing: border-box;

    & div.page-hold{
        display: block;
        box-sizing: border-box;
        & div.page{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            & div.page-head, & div.page-body, & div.page-footer{
                display: block;
                width: 100%;
            }
            & div.page-body{
                height: 100%;
                & div.page-landing{
                    display: flex;
                    height: 100vh;

                    flex-direction: column;

                    align-items: center;
                    justify-content: center;

                    scroll-snap-align: start;
                    
                    & div.page-landing-body,
                    & div.page-landing-footer{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }


                    & div.page-landing-body{
                        text-align: center;
                        height: 100%;
                        & h1{
                            font-size: 75px;
                        }
                        & p{
                            margin: 0px;
                            padding: 5px;
                            font-size: 25px;
                        }
                    }
                    & div.page-landing-footer{
                        align-items: center;
                    }
                }
                & div.page-main{
                    display: block;

                    & div.page-main-body{
                        & section{
                            scroll-snap-align: start;
                            min-height: 100vh;

                            & h2{
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

body{

    position: relative;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    transition: max-height 0.2s;

    &, & * {
        transition: color $delay-light-toggle, background-color $delay-light-toggle, box-shadow $delay-light-toggle;
        &::after, &::before{
            transition: color $delay-light-toggle, background-color $delay-light-toggle, box-shadow $delay-light-toggle;
        }
    }

    &.dark{
        @import 'default_dark';
    }
    &.light{
        @import 'default_light';
    }

    @media screen and (max-height: 500px) {
        max-height: calc(100vh - 50px);
    }
}