// EOS Branding
$eos-not-quite-black: #1d1d1d;
$eos-not-quite-white: #f2f2f2;
$eos-slightly-yellow: #f2cb05;


// Default
$bg-dark: $eos-not-quite-black;
$bg-light: $eos-not-quite-white;
$fg-dark: $eos-not-quite-white;
$fg-light: $eos-not-quite-black;
// a11y
$a11y-yellow: $eos-slightly-yellow;
$a11y-blue: #0004ff;
// Nav
$nav-bg-dark: $eos-not-quite-black;
$nav-bg-light: $eos-not-quite-white;

$nav-accent-even-light: $eos-not-quite-white;
$nav-accent-even-dark: $eos-not-quite-black;
$nav-accent-odd-light: darken($eos-not-quite-white, 15%);
$nav-accent-odd-dark: lighten($eos-not-quite-black, 10%);

$nav-accent-even-text-light: $eos-not-quite-black;
$nav-accent-even-text-dark: darken($eos-not-quite-white, 15%);
$nav-accent-odd-text-light: darken($eos-not-quite-white, 20%);
$nav-accent-odd-text-dark: $eos-not-quite-black;

$nav-select-light: darken($eos-not-quite-white, 30%);
$nav-select-dark: lighten($eos-not-quite-black, 25%);


// Calendar
$cal-hh-today-dark: #202472;
$cal-hh-today-light: #949be9;
$cal-hh-ev-pin-dark: #118231;
$cal-hh-ev-pin-light: #56d574;
$delay-light-toggle: 0.25s;

$cal-event-main-dark: lighten($bg-dark, 5%);
$cal-event-main-light: darken($bg-light, 5%);