@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Staatliches&display=swap');

$colour-primary: #e9a40f;
$colour-fg: #f5f5f5;
$colour-bg: #121212;

:root{
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: $colour-bg;
    color: $colour-fg;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3{
    font-family: 'Staatliches', serif;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lighten($colour-bg, 7px);

    .logo {
        h1 {
            margin: 0;
            font-size: 24px;
            color: $colour-primary;
        }
    }

    nav {
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-left: 20px;

                a {
                    color: $colour-fg;
                    font-size: 18px;

                    &:hover {
                        color: $colour-primary;
                    }
                }
            }
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    background: url('assets/hero-bg.jpg') no-repeat center center;
    background-size: cover;

    h2 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }
}

.projects {
    padding: 40px 20px;
    text-align: center;

    h2 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .project-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .project {
            background-color: lighten($colour-bg, 7px);
            padding: 20px;
            margin: 10px;
            width: 300px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            ul.tags{
                padding: 0px;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                & li{
                    width: 100%;
                    background-color: $colour-primary;
                    color: invert($colour-fg);
                    font-weight: bold;
                    margin-right: 2px;
                    padding: 3px;
                    border-radius: 4px;
                }
            }

            h3 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

.contact {
    padding: 40px 20px;
    text-align: center;

    h2 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .social-media {
        a {
            margin: 0 10px;
            display: inline-block;

            i {
                font-size: 35px;
                color: $colour-primary;
            }

            &:hover{
                & i {
                    color: $colour-fg;
                }
            }
        }
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: lighten($colour-bg, 7px);

    p {
        margin: 0;
        font-size: 14px;
    }
}
